<div class="  container-fluid  "  style="width:100%; height: 600px;"> 
    <form action=""  class="mt-5 d-flex align-items-center flex-column ms-2" style="width: 100%;height: 100%; background-color: rgba(239, 237, 237, 0.748);">
        <div class="text-center mt-3 mb-5 text-primary "><h3> <strong>Login</strong></h3></div>
         
        <div class="  d-flex align-items-center flex-column  "style="width: 100%; height: 100px;" >
            <label for="email" class="form-label " style="width: 40%; "><strong>Email Addrees:</strong></label>
            <input   type="email" class="form-control " id="email" placeholder="Enter email" name="email" style="width: 40%; height:50% ;">
          </div>
          <div class="  d-flex align-items-center flex-column "style="width: 100%;height: 100px;" >
            <label for="pwd" class="form-label "  style="width: 40%;"><strong>Password:</strong></label>
            <input type="password" class="form-control " id="pwd" placeholder="Enter password" name="pswd"style="width: 40%; height:50% ;">
          </div>
          <div class="d-flex align-items-center flex-column "style="width: 100%;height: 100px;" >
          <a style="background-color: rgb(91, 91, 243); width: 25%; height:50px ; " class=" btn text-center wt-50 text-light mt-3 rounded-5 h-50"  [routerLink]="['/dashboard']"> <strong>Login <br></strong></a>
          <a style="background-color: rgb(2, 25, 60); width:25%; height:35% ; " class=" btn text-light mt-3 rounded-5 mb-5 h-50 " [routerLink]="['/signup']"> <strong>Sing Up</strong></a>
        </div>
    </form>
</div>

