<div class="body d-flex flex-column " style="min-height: 78vh;"
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">


    <footer class="mt-auto">
        <hr />
        <div class="d-block d-xl-flex">
            <div class="terms">
                <a href="#">Terms</a>
                <span>-</span>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="products">
                <a href="#"><span>Products</span></a>
                <a href="#">Web Studio</a>
                <a href="#">DynamicBox Flex</a>
                <a href="#">Programming Forms</a>
                <a href="#">Integrations</a>
                <a href="#">Command-line</a>
            </div>
            <div class="products">
                <a href="#"><span>Resources</span></a>
                <a href="#">Documentation</a>
                <a href="#">Tutorials & Guides</a>
                <a href="#">Blog</a>
                <a href="#">Support Center</a>
                <a href="#">Partners</a>
            </div>
            <div class="products">
                <a href="#"><span>Company</span></a>
                <a href="#">Home</a>
                <a href="#">About us</a>
                <a href="#">Company values</a>
                <a href="#">Pricing</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="products">
                <a href="#"><span>Subscribe</span></a>
                <a href="#">Get the latest news and articles to your inbox every month.</a>
                <pre><input class="email" type="email" placeholder="Your email"><i class="fa-solid fa-arrow-right" style="color: #552d9f;"></i></pre>
            </div>
        </div>
        <hr />
        <div class="made">
            <p>
                made with <span>❤</span> by <span><a href="#">Team ITI</a></span>
            </p>
            <div class="icon">
                <p><i class="fa-brands fa-square-github"></i></p>
            </div>
        </div>
    </footer>
</div>