<div class="p-5 " [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
    <div class="row d-felx  p-3    ">
        <div class="mb-3 col-12 col-md-6 col-xl-3">
            <input type="text" class="form-control p-1" placeholder="Search for products..."
                [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" [(ngModel)]="searchText"
                (ngModelChange)="onSearchChange()" />
        </div>
        <div class="col-md-3 col-xl-2 d-flrx d-md-none border border-secondary my-3 p-2 rounded-3" style="height:50vh;"
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <div class="card w-100 border-0 shadow-sm nav nav-pills"
                [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
                <h4>Categories:</h4>

                <button class="border border-1 border-secondary  p-2 rounded-3 m-1  nav-link"
                    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" (click)="navigateToCategory(0)"
                    routerLinkActive="active">All</button>
                @for (category of categories; track $index) {
                <button class="border border-1 border-secondary  p-2 rounded-3 m-1  nav-link"
                    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                    (click)="navigateToCategory( category.id )" routerLinkActive="active">{{category.name}}</button>
                }
            </div>
        </div>
        <div class="container    col-md-9 col-xl-10   ">
            <div class="row d-flex flex-lg-row flex-column-reverse">
                <div class="row d-flex">
                    <ng-container *ngFor="let item of searchProducts;   let i = index">
                        <div class="col-xl-4 col-md-6  col-sm-12  p-2   rounded    "
                            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
                            <div class="  prodBorder">
                                <a [routerLink]="['/productById',item.id]">
                                    <img class="img-fluid rounded  mb-3  " [src]="item.images" alt="" />
                                </a>
                                <div>
                                    <p>{{ truncatedText(item.description) }}
                                        <a [routerLink]="['/productById',item.id]" class="btn">
                                            <strong>Read more</strong>
                                        </a>
                                    </p>
                                </div>

                                <div>
                                    <p class="fw-bold text-xl mb-2">{{item.title}}</p>
                                    <p class="text-muted text-sm">
                                    </p>
                                    <div class="d-flex justify-content-start"><span
                                            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                                            class="    m-1 btn rounded-5 border-1 border-secondary   fs-5 px-3 py-2 fs-6 ">
                                            {{item.category.name}}
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="text-muted">Price</p>
                                        <p class="fw-bold "> $ {{item.price}} </p>
                                    </div>
                                    <!-- <a (click)="addToCar(i)" class=" btn-move btn me-2 px-3 fs-5 py-1  " btn-move
                                        role="button">add To Cart</a> -->

                                    <input type="button" (click)="addToCar(i)" value="add to cart"
                                        class="btn-move btn me-2 px-3 fs-5 py-1" name="" id="">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


        </div>

        <div class="col-md-3 col-xl-2 d-none d-md-flex    my-3 p-2 rounded-3" style="height:auto;"
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <div class="card w-100 border-0 shadow-sm nav nav-pills"
                [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
                <h4>Categories:</h4>
                <button class="border border-1 border-secondary  p-2 rounded-3 m-1  nav-link"
                    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" (click)="navigateToCategory(0)"
                    routerLinkActive="active">All</button>
                @for (category of categories; track $index) {
                <button class="border border-1 border-secondary  p-2 rounded-3 m-1  nav-link"
                    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                    (click)="navigateToCategory( category.id )" routerLinkActive="active">{{category.name}}</button>
                }

            </div>
        </div>
    </div>
</div>