 
 .btn {
    transition: background-color 0.3s ease;
}

 table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 12px;
}

th {
    background-color: #343a40;
    color: white;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

 @media (max-width: 576px) {
    form {
        flex-direction: column !important;
    }

    input[type="submit"] {
        margin-top: 10px;
    }
}