<!-- <nav class="navbar  p-3  " [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">

    <div class="row d-flex w-100">


        <div class="col-10 d-flex ">

            <a class="nav-link mx-5" aria-current="page" [routerLink]="['/products']" routerLinkActive="router-link-active">
                <h2>
                    Products
                </h2>
            </a>
            <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
                <h2>
                    dashboard
                </h2>
            </a>
        </div>
        <div class="col-2">

            <button (click)="toggleTheme()" class="rounded "
                [ngClass]="{ 'ptnDMode': isDarkMode(), 'ptnLMode': !isDarkMode() }">
                <fa-icon class="fs-3 control-icon " [icon]="isDarkMode() ? faMoon : faSun"></fa-icon>
            </button>
        </div>
    </div>
</nav>

 -->

<nav class="  row navbar-expand-lg  justify-content-between text-align-center navbar d-none d-xl-block .d-xxl-none  "
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
    <div class="d-flex justify-content-between ">
        <div class=" wt-25 col-3 ms-5">
            <h2><strong>Shop</strong></h2>
        </div>

        <div class=" d-flex justify-content-center align-items-center w-25  px-2 mx-3    border btn rounded-5 col-4 "
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <div class="nav nav-pills      ">
                <ul class="d-flex justify-content-center w-100 h-100 align-item-center  rounded-5  ">
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                            class="flex-sm-fill  fs-5 fw-bold  nav-link me-4 " [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                            class="flex-sm-fill  fs-5 fw-bold  nav-link me-4" [routerLink]="['/products']">Products</a>
                    </li>
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                            class="flex-sm-fill  fs-5 fw-bold  nav-link me-4" [routerLink]="['/about']">About</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-3">

            <!-- swatch mode -->
            <button (click)="toggleTheme()" class="rounded "
                [ngClass]="{ 'ptnDMode': isDarkMode(), 'ptnLMode': !isDarkMode() }">
                <fa-icon class="fs-3 control-icon " [icon]="isDarkMode() ? faMoon : faSun"></fa-icon>
            </button>


            <form class="container-fluid  d-flex justify-content-end">
                <button class="btn btn-sm btn-outline-secondary  " type="button" [routerLink]="['/login']"> <i
                        class="fa-solid fa-right-to-bracket" ></i>Login</button>
                <button class="btn btn-sm btn-outline-secondary mx-2" type="button"[routerLink]="['/signup']"><i class="fa-solid fa-user-plus"></i>Sing
                    Up</button>
            </form>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-light  fixed-top d-lg-none container-fluid"
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">

    <div class="container-fluid d-flex flex-nowrap">

        <div class="col 4  mt-1 order-3">
            <form class="container-fluid  d-flex justify-content-end">
                <button class="btn btn-sm btn-outline-secondary me-2" type="button"> <i
                        class="fa-solid fa-right-to-bracket"></i>Login</button>
                <button class="btn btn-sm btn-outline-secondary" type="button"><i class="fa-solid fa-user-plus"></i>Sing
                    Up</button>
            </form>
        </div>
        <div class="d-flex justify-content-center align-items-center order-2"><a class="navbar-brand text-center ms-5"
                href="#">React Shop</a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header ">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Shop</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products']">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav> -->