<nav class="  row navbar-expand-lg  justify-content-between text-align-center navbar   d-xl-block    "
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" style="width: 100vw;">
    <div class="d-flex justify-content-evenly  align-items-center">
        <div class=" wt-25   d-none d-md-block ms-5">
            <h2><strong>Shop</strong></h2>
        </div>
        <div class="d-md-none  d-flex  ">
            <form class="container-fluid  ">
                <button class="btn btn-sm btn-outline-secondary  " type="button"> <i
                        class="fa-solid fa-right-to-bracket"></i>Login</button>
                <button class="btn btn-sm btn-outline-secondary mx-2" type="button"><i
                        class="fa-solid fa-user-plus"></i>Sing
                    Up</button>
            </form>
        </div>

        <div class=" d-flex justify-content-center align-items-center    px-md-1 mx-md-3    border btn rounded-5  "
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <div class="nav nav-pills      ">
                <ul class="d-flex     ">
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 " [routerLink]="['/home']">Home</a>
                    </li>   
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1" [routerLink]="['/products']">Products</a>
                    </li>
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1" [routerLink]="['/about']">About</a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- swatch mode -->
        <div class="  d-flex  justify-content-evenly align-items-center">
            <div class="mx-1">
                <button (click)="toggleTheme()" class="rounded "
                    [ngClass]="{ 'ptnDMode': isDarkMode(), 'ptnLMode': !isDarkMode() }">
                    <fa-icon class="fs-3 control-icon " [icon]="isDarkMode() ? faMoon : faSun"></fa-icon>
                </button>

            </div>

            <div>
                <form class="container-fluid  d-none d-md-flex  ">
                    <button class="btn btn-sm btn-outline-secondary  " type="button"> <i
                            class="fa-solid fa-right-to-bracket"></i>Login</button>
                    <button class="btn btn-sm btn-outline-secondary mx-2" type="button"><i
                            class="fa-solid fa-user-plus"></i>Sing
                        Up</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-light  fixed-top d-lg-none container-fluid"
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">

    <div class="container-fluid d-flex flex-nowrap">

        <div class="col 4  mt-1 order-3">
            <form class="container-fluid  d-flex justify-content-end">
                <button class="btn btn-sm btn-outline-secondary me-2" type="button"> <i
                        class="fa-solid fa-right-to-bracket"></i>Login</button>
                <button class="btn btn-sm btn-outline-secondary" type="button"><i class="fa-solid fa-user-plus"></i>Sing
                    Up</button>
            </form>
        </div>
        <div class="d-flex justify-content-center align-items-center order-2"><a class="navbar-brand text-center ms-5"
                href="#">React Shop</a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header ">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Shop</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products']">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav> -->