<nav class="  row navbar-expand-lg  justify-content-between text-align-center navbar   d-xl-block    "
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" style="width: 100vw;">
    <div class="d-flex justify-content-evenly  align-items-center">
        <div class=" wt-25   d-none d-md-block ms-5">
            <h2><strong>Shop</strong></h2>
        </div>
        <div class="d-md-none  d-flex  ">
            <form class="container-fluid  ">
                <button class="btn btn-sm btn-outline-secondary  " type="button"> <i
                        class="fa-solid fa-right-to-bracket"></i>Login</button>
                <button class="btn btn-sm btn-outline-secondary mx-2" type="button"><i
                        class="fa-solid fa-user-plus"></i>Sing
                    Up</button>
            </form>
        </div>

        <div class=" d-flex justify-content-center align-items-center    px-md-1 mx-md-3    border    rounded-5  "
            [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }">
            <div class="         ">
                <ul class="d-flex     pt-3  px-3 ">
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4 "
                            [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="list-group-item"> <button [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4"
                            (click)="nav('products',userID())">Products</button>
                    </li>
                    <!-- <li class="list-group-item"> <a [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4" [routerLink]="['/products']">Products</a>
                    </li> -->
                    <li class="list-group-item" [ngClass]="{ 'd-none': !isUser(),'d-block':isUser() }"> <button
                            [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4"
                            [routerLink]="['/shopcart',userID()]">Shop
                            Cart</button>
                    </li>
                    <li class="list-group-item" [ngClass]="{ 'd-none': !isAdmin(),'d-block': isAdmin() }"> <a
                            [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4"
                            (click)="nav('dashboard',adminID())">
                            Dashboard
                        </a>
                    </li>
                    <!-- <li class="list-group-item" [ngClass]="{ 'd-none': !adminID(),'d-block': adminID() }"> <a
                            [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4" [routerLink]="['/dashboard']"> Dashboard
                        </a>
                    </li> -->
                    <li class="list-group-item"> <a [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
                            class="flex-sm-fill   fs-5 fw-bold  nav-link mx-1 mx-xl-4"
                            [routerLink]="['/about']">About</a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- swatch mode -->
        <div class="  d-flex  justify-content-evenly align-items-center">
            <div class="mx-1">
                <button (click)="toggleTheme()" class="rounded "
                    [ngClass]="{ 'ptnDMode': isDarkMode(), 'ptnLMode': !isDarkMode() }">
                    <fa-icon class="fs-3 control-icon " [icon]="isDarkMode() ? faMoon : faSun"></fa-icon>
                </button>

            </div>

            <form class="container-fluid d-flex justify-content-end">
                <div *ngIf="!userID() && !adminID()">
                    <button class="btn btn-sm btn-outline-secondary mx-2" [routerLink]="['/login']" type="button">
                        <i class="fa-solid fa-right-to-bracket"></i> Log In
                    </button>
                    <button class="btn btn-sm btn-outline-secondary mx-2" [routerLink]="['/signup']" type="button">
                        <i class="fa-solid fa-user-plus"></i> Sign Up
                    </button>
                </div>

                <button *ngIf="adminID() || userID()" class="btn btn-sm btn-outline-secondary mx-2" (click)="logout()"
                    type="button">
                    <i class="fa-solid fa-user-plus"></i> Log Out
                </button>
            </form>
        </div>
    </div>
</nav>