<div class="p-5  d-felx flex-column justify-content-center "
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
    <div>
        <h2>this is your dsahboard </h2>
        <div class="mb-3 col-12 col-md-6 col-xl-3">
            <input type="text" class="form-control p-1" placeholder="Search for products..."
                [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" [(ngModel)]="searchText"
                (ngModelChange)="onSearchChange()" />
        </div>
        <button [routerLink]="['/addProduct' ]" class="btn border-1 border  m-2" routerLinkActive="active"
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">Add Product</button>
        <button [routerLink]="['/addCategory' ]" class="btn border-1 border  m-2" routerLinkActive="active"
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"> Categories</button>
    </div>
    <table class="border border-2 p-5  rounded-3   w-100 ">
        <thead class="border w-100   bg-secondary ">
            <th class="px-3 py-2">id</th>
            <th>Title</th>
            <th>price</th>
            <th>images</th>
            <th>category</th>
            <th>edit</th>
            <th>delete</th>
        </thead>
        <tbody>
            @for (item of searchProducts; track $index) {
            <tr ngClass="">
                <th class="px-3 py-2">{{item.id}}</th>
                <th>{{item.title}}</th>
                <th>{{item.price}}</th>
                <th>
                    <ng-container *ngFor="let image of item.images;   let i = index">
                        <img class="img-fluid rounded  m-2" [src]="image" alt="" style="height: 50px;" />
                    </ng-container>
                </th>
                <th>{{item.category.name}}</th>
                <th><a class="btn  rounded-5  px-3 py-1 bg-secondary " [routerLink]="['/editById/'+item.id]"
                        routerLinkActive="router-link-active">Editer</a></th>
                <th (click)="delete(item.id)"> <fa-icon class="fs-3 control-icon  bg-red " [icon]="faRemove"></fa-icon>
                </th>
            </tr>
            }
        </tbody>
    </table>

</div>