<main class="d-flex justify-content-center align-items-center container-fluid mx-2"
    [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
    <div class="m-5 w-75" [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }">
        <div class="text-center mt-3 mb-5 text-primary">
            <h3><strong>Sign Up</strong></h3>
        </div>

        <form (ngSubmit)="addUser()" class="row d-flex justify-content-center align-items-center" #signUpForm="ngForm">

            <div class="row justify-content-center align-items-center">

                <div class="col-12 col-md-5 mb-3">
                    <label for="firstName" class="form-label">First Name :</label>
                    <input type="text" class="form-control" [(ngModel)]="user.Fname" name="Fname" id="firstName"
                        style="width: 90%;" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" required>

                </div>

                <div class="col-12 col-md-5 mb-3">
                    <label for="lastName" class="form-label">Last Name :</label>
                    <input type="text" class="form-control" [(ngModel)]="user.Lname" name="Lname" id="lastName"
                        style="width: 90%;" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" required>

                </div>
            </div>

            <div class="row justify-content-center align-items-center">

                <div class="col-12 col-md-5 mb-3">
                    <label for="inputEmail" class="form-label">Email :</label>
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="inputEmail"
                        style="width: 90%;" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" required
                        email>

                </div>

                <div class="col-12 col-md-5 mb-3">
                    <label for="inputPassword" class="form-label">Password :</label>
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password"
                        id="inputPassword" style="width: 90%;"
                        [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" required minlength="6">

                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <!-- role -->
                <!-- <div class="col-12 col-md-5 mb-3">
                    <label for="role" class="form-label">Role :</label>
                    <select class="form-select" name="role" [(ngModel)]="user.role" id="role" style="width: 90%;"
                        [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }"  required>
                        <option value="" selected>Select Role</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>

                </div> -->
            </div>

            <div class="row justify-content-center align-items-center">

                <div class="d-flex align-items-center flex-column mt-4 col-11 col-md-4   ">

                    <input type="submit" name="submit" [disabled]="!validateForm()"
                        class="  btn text-center rounded-5 w-100 signUpBtn me-5" value="Sign Up">
                </div>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn">sing in</a>
            </div>
        </form>
    </div>
</main>