<div class="container-fluid" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
    <div *ngIf="product[0]">
        <h2 class="text-center mb-4">Edit Product: {{ product[0].title }}</h2>

        <div class="d-flex justify-content-center">
            <form (ngSubmit)="saveProduct()" class="w-100 w-md-50">
                <div class="row">
                    <!-- Title -->
                    <div class="col-12 col-md-6 form-group mb-3">
                        <label for="title" class="fs-6 fw-bold">Title:</label>
                        <input class="form-control h43" id="title" [(ngModel)]="product[0].title" name="title"
                            [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" />
                    </div>

                    <!-- Price -->
                    <div class="col-12 col-md-6 form-group mb-3">
                        <label for="price" class="fs-6 fw-bold">Price:</label>
                        <input class="form-control h43" id="price" [(ngModel)]="product[0].price" name="price"
                            type="number" [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" />
                    </div>

                    <!-- Description -->
                    <div class="col-12 form-group mb-3">
                        <label for="description" class="fs-6 fw-bold">Description:</label>
                        <textarea class="form-control h43" id="description" [(ngModel)]="product[0].description"
                            name="description"
                            [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"></textarea>
                    </div>

                    <!-- Category -->
                    <select class="form-control h43" id="category" name="category"
                        [(ngModel)]="product[0].category.name" (change)="handleCategoryChange($event)"
                        [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }">
                        <option *ngFor="let category of categories" [value]="category.name">
                            {{ category.name }}
                        </option>
                    </select>


                    <div *ngFor="let image of product[0].images; let i = index"
                        class="col-12 col-mdl-6 col-sm-4 form-group mb-3">
                        <div class="d-flex flex-column align-items-start">
                            <img [src]="image" alt="Product[0] Image" class="rounded mb-2"
                                style="width: 80px; height: 80px;" />
                            <label for="image-{{ i }}" class="fs-6 fw-bold">Image {{ i + 1 }} URL:</label>
                            <input id="image-{{ i }}" [(ngModel)]="product[0].images[i]" name="images-{{ i }}"
                                class="form-control h43 mb-2"
                                [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" />

                            <label for="upload-image-{{ i }}" class="fs-6 fw-bold">Or Upload Image:</label>
                            <input id="upload-image-{{ i }}" value="ads" name="fasfe" type="file"
                                (change)="onFileSelected($event, i)" class="form-control h43"
                                [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" />
                        </div>
                    </div>



                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary p-3 rounded my-1">add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>