* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    color: #703bf7;
    font-size: 22px;
    font-weight: 600;
}

.body {
    --tw-bg-opacity: 1;
    /* background-color: rgb(20 20 20 / var(--tw-bg-opacity)); */
}

.icon {
    display: flex;
    justify-content: space-evenly;
}

.icon p i {
    font-size: 60px;
    color: #6a716a;
    transition: .3s;
    margin: 10px;
}

.icon p i:hover {
    color: skyblue;

}

span {
    --tw-text-opacity: 1;
    color: rgb(130 84 248 / var(--tw-text-opacity));
}

footer {
    width: 80%;
    margin-left: 10%;
}

.foooter {
    display: flex;
    justify-content: space-around;
}

.terms {
    margin-top: 40px;
    margin-right: 100px;

}

.terms a {
    color: white;
    text-decoration: none;
}

.terms a:hover {
    color: gray;
    text-decoration: underline;
}

.products {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.products a {
    color: white;
    text-decoration: none;
}

.products a:hover {
    color: gray;
}

.email {
    width: 180px;
    height: 40px;
    padding: 7px;
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity));
    border: 0 solid rgb(20 20 20 / var(--tw-bg-opacity));
    border-right: 2px solid gray;
    outline: rgb(20 20 20 / var(--tw-bg-opacity));
}

pre i {
    margin-left: 7px;
}

.made {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.made p {
    color: white;
}

.made a {
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(130 84 248 / var(--tw-text-opacity));
}


.carrd
{
  border: solid 1px #703bf7 ;
  box-shadow: #703bf7;
  box-shadow: 2px 5px 10px #703bf7;
}
.fs--6{
  font-size: 3.5rem;
}