<div class="body py-4" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
    <div class="container" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
        <div class="w-100 vh-100 d-flex flex-column justify-content-center align-items-center text-center position-relative"
            [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <p class="display-4 fw-bold">Make your Outfit<span class="text-primary"> wonderful</span></p>
            <p class="lead text-secondary">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere soluta iusto expedita
                veniam asperiores, cumque id, tempora numquam voluptatibus.
            </p>
            <div class="d-flex justify-content-around w-75 mt-4">
                <a class="btn btn-primary btn-lg" href="#">Start Shopping</a>
                <a class="btn btn-outline-light btn-lg" href="#">Learn More</a>
            </div>
            <div class="rounded-circle bg-primary position-absolute"
                style="width: 210px; height: 210px; top: 130px; right: 90px;"></div>
            <div class="rounded-circle"
                style="width: 110px; height: 110px; background: linear-gradient(15deg, rgba(53, 42, 247, 0.92) 0%, rgba(150, 145, 217, 0.95) 100%); position: absolute; bottom: 100px; left: 200px;">
            </div>
        </div>

        <div class="w-100 vh-100 text-center py-5" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <div class="bg-white mx-auto" style="width: 3px; height: 120px;"></div>
            <div>
                <p class="display-6">Explore the solutions</p>
                <p class="lead text-secondary">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur excepteur sint occaecat cupidatat.
                </p>
            </div>
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-lg-8">
                    <div>
                        <h4>Powerful suite of tools</h4>
                        <p class="text-secondary">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                    </div>
                    <div class="p-3 mb-3  border border-secondary rounded">
                        <h5 class="text-white">Simple Shopping ecosystem</h5>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <i
                                class="fa-solid fa-bolt fa-beat-fade"></i> Atque sit culpa distinctio.</p>
                    </div>
                    <div class="p-3 mb-3  border border-secondary rounded">
                        <h5 class="text-white">Simple Shopping ecosystem</h5>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <i
                                class="fa-brands fa-telegram fa-beat"></i> Atque sit culpa distinctio.</p>
                    </div>
                    <div class="p-3  border border-secondary rounded">
                        <h5 class="text-white">Simple Shopping ecosystem</h5>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <i
                                class="fa-solid fa-moon fa-beat-fade"></i> Atque sit culpa distinctio.</p>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-flex justify-content-center">
                    <img src="../../../assets/image/1.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>

        <div class="text-center py-5" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }">
            <p class="h3">Explore the solutions</p>
            <p class="lead text-secondary">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                excepteur sint occaecat cupidatat.
            </p>
        </div>

        <div class="w-100   py-5">
            <div class="row justify-content-around">
                <div class="col-md-4 text-center">
                    <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center"
                        style="width: 70px; height: 70px;">
                        <i class="fa-brands fa-algolia fa-2xl"></i>
                    </div>
                    <p class="h4">Initial Contact</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center"
                        style="width: 70px; height: 70px;">
                        <i class="fa-brands fa-algolia fa-2xl"></i>
                    </div>
                    <p class="h4">Discovery Session</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center"
                        style="width: 70px; height: 70px;">
                        <i class="fa-brands fa-algolia fa-2xl"></i>
                    </div>
                    <p class="h4">Contracting</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center my-4 gap-3">
                <img class="bg-dark rounded px-2" src="../../../assets/image/face-removebg-preview.png" alt=""
                    style="width: 150px;" />
                <img class="bg-dark rounded px-2" src="../../../assets/image/tinder-removebg-preview.png" alt=""
                    style="width: 150px;" />
                <img class="bg-dark rounded px-2" src="../../../assets/image/air-removebg-preview.png" alt=""
                    style="width: 150px;" />
                <img class="bg-dark rounded px-2" src="../../../assets/image/hub_4-removebg-preview.png" alt=""
                    style="width: 150px;" />
                <img class="bg-dark rounded px-2" src="../../../assets/image/amaxo5-removebg-preview.png" alt=""
                    style="width: 150px;" />
            </div>
            <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
                <div class="text-center">
                    <img class="rounded-circle mb-4" src="../../../assets/image/profile-pic.png" alt="" width="100px" />

                </div>
                <div class="border border-1 border-secondary rounded-2  w-75 fs-4"
                    style="height: auto; min-height: 16vh;">
                    <p class="mb-0 p-3">“ I love this product and would recommend it to anyone. Could be not easier to use,
                        and our multiple Branch are doing wonderful. We get nice comments all the time. “</p>
                </div>
                <footer class="blockquote-footer text-white">Darya Finger, CEO & Co-Founder <a href="#"
                        class="text-light">Team ITI</a></footer>
            </div>
        </div>
    </div>
</div>