<div class="body py-4" [ngClass]="{ 'dMode2': isDarkMode(), 'lMode3': !isDarkMode() }">

    <div class="container " [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }">
        <div style="width:100vw;" [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
            class=" over section-1">
            <p class="strong title">Make your Outfit<span> wonderful</span></p>
            <p class="info">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
                soluta iusto expedita <br />
                veniam asperiores, cumque id, tempora numquam voluptatibus.
            </p>
            <div class="button">
                <a class="start" href="#">Start Shopping</a>
                <a class="learn" href="#">Learn More</a>
            </div>
            <div class="sircle-1"></div>
            <div class="sircle-2"></div>
        </div>
        <div style="width:100vw;" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" class="section-2">
            <div class="intity"></div>
            <div class="explore">
                <p class="ex">Explore the solutions</p>
                <p class="info-ex">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla <br />
                    pariatur excepteur sint occaecat cupidatat.
                </p>
            </div>
            <div class=" row justify-content-center align-items-center">
                <div class=" example-image col-xl-8">
                    <div class="example">
                        <p class="power">Powerful suite of tools</p>
                        <p class="ful">
                            Duis aute irure dolor in reprehenderit in voluptate velit <br />
                            esse cillum dolore pariatur. Excepteur sint occaecat <br />
                            cupidatat non proident, sunt in culpa.
                        </p>
                    </div>
                    <div class="example-1">
                        <p class="power">Simple Shoping ecosystem</p>
                        <pre class="ful">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  <i class="fa-solid fa-bolt fa-beat-fade"></i> 
    Atque sit culpa distinctio.</pre>
                    </div>
                    <div class="example-1">
                        <p class="power">Simple Shoping ecosystem</p>
                        <pre class="ful">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  <i class="fa-brands fa-telegram fa-beat"></i> 
    Atque sit culpa distinctio.</pre>
                    </div>
                    <div class="example-1">
                        <p class="power">Simple Shoping ecosystem</p>
                        <pre class="ful">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  <i class="fa-solid fa-moon fa-beat-fade"></i> 
    Atque sit culpa distinctio.</pre>
                    </div>
                </div>
                <div class="right d-xl-flex d-none col-xl-4">
                    <img src="../../../assets/image/1.png" alt="" />
                </div>
            </div>
       </div>

        <div style="width:100vw;" [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }" class="how-works">
            <p class="how">Explore the solutions</p>

      
            <p class="info-ex">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla <br />
                pariatur excepteur sint occaecat cupidatat.
            </p>
        </div>
        <div style="width:100vw;" [ngClass]="{ 'dMode': isDarkMode(), 'lMode': !isDarkMode() }" class="category row">
            <div class="row d-flex justify-content-around align-items-center">
                <div class="category-1 col-md-6 col-xl-4 ">
                    <div class="cir"><i class="fa-brands fa-algolia fa-2xl"></i></div>
                    <p class="title-1">Initial Contact</p>
                    <p class="title-2">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        adipiscing elit.
                    </p>
                </div>
                <div class="category-1 col-md-6 col-xl-4 ">
                    <div class="cir"><i class="fa-brands fa-algolia fa-2xl"></i></div>
                    <p class="title-1">Discovery Session</p>
                    <p class="title-2">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        adipiscing elit.
                    </p>
                </div>
                <div class="category-1 col-md-6 col-xl-4 ">
                    <div class="cir"><i class="fa-brands fa-algolia fa-2xl"></i></div>
                    <p class="title-1">Contracting</p>
                    <p class="title-2">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        adipiscing elit.
                    </p>
                </div>
                <div class="category-1 col-md-6 col-xl-4 ">
                    <div class="cir"><i class="fa-brands fa-algolia fa-2xl"></i></div>
                    <p class="title-1">Fast Prototyping</p>
                    <p class="title-2">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        adipiscing elit.
                    </p>
                </div>
                <div class="category-1 col-md-6 col-xl-4 ">
                    <div class="cir"><i class="fa-brands fa-algolia fa-2xl"></i></div>
                    <p class="title-1">Design Phase</p>
                    <p class="title-2">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        adipiscing elit.
                    </p>
                </div>
                <div class="category-1 col-md-6 col-xl-4 ">
                    <div class="cir"><i class="fa-brands fa-algolia fa-2xl"></i></div>
                    <p class="title-1">Develop & Listing for sale</p>
                    <p class="title-2">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        adipiscing elit.
                    </p>
                </div>
            </div>
        </div>
        <div [ngClass]="{ 'dMode2': isDarkMode(), 'lMode2': !isDarkMode() }"
            class="section-4  justify-content-center align-items-center" style="width: 98.5vw;">
            <div class="intity-2"></div>
            <div class="over">
                <p class="title-over">
                    Trusted by over 20,000 companies all over the world
                </p>
                <p class="title-oover">
                    Arcu cursus vitae congue mauris rhoncus viverra nibh cras pulvinar
                    mattis blandit libero <br />
                    cursus mattis.
                </p>
            </div>
            <div class="logo">

                <img class="bg-dark rounded px-1" src="../../../assets/image/face-removebg-preview.png" alt="" />
                <img class="bg-dark rounded px-1" src="../../../assets/image/tinder-removebg-preview.png" alt="" />
                <img class="bg-dark rounded px-1" src="../../../assets/image/air-removebg-preview.png" alt="" />
                <img class="bg-dark rounded px-1" src="../../../assets/image/hub_4-removebg-preview.png" alt="" />
                <img class="bg-dark rounded px-1" src="../../../assets/image/amaxo5-removebg-preview.png" alt="" />

            </div>
            <div class="ceo">
                <div class="team">
                    <div class="intitty">
                        <img class="imo" src="../../../assets/image/profile-pic.png" alt="" width="100px" />“,,
                    </div>

                    <p>
                        “ I love this product and would recommend it to anyone. Could be
                        not easier <br />
                        to use, and our multiple Branch are doing wonderful. We get nice
                        comments <br />
                        all the time. “
                    </p>
                    <p class="name">Darya Finger</p>
                    <p>CEO & Co-Founder <a href="#">Team ITI</a></p>
                </div>
            </div>
            <!-- <div class="email">
                <div class="sub">
                    <p>Powering your business</p>
                    <p class="bus">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit nemo
                        expedita <br />
                        voluptas culpa sapiente.
                    </p>
                    <div class="account">
                        <input type="email" placeholder="Your email..." />
                        <button>Subscribe</button>
                    </div>

                    <img src="../../../assets/image/sir.png" alt="" width="150px">
                </div>
            </div> -->
        </div>
    </div>
</div>