* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Mooo;
    /* src: url(./Font/Moo.ttf); */
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity));
}

.section-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.strong {
    font-size: 50px;
    font-weight: 900;
    font-family: Mooo;
    margin-bottom: 20px;
}

.strong span {
    color: rgb(84, 47, 157);
    color: linear-gradient(90deg, rgba(84, 47, 157, 1) 48%, rgba(41, 0, 69, 1) 59%);

}

.strong {
    color: white;
}

.info {
    font-size: 27px;
    color: gray;
}

.button {
    margin-top: 50px;
    width: 590px;
    display: flex;
    justify-content: space-between;
}

.button .start {
    --tw-bg-opacity: 1;
    background-color: rgb(112 59 247 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-size: xx-large;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button .start:hover {
    background-color: rgb(112 59 247 / 61%);
}

.button .learn {
    --tw-bg-opacity: 1;
    background-color: rgb(112 59 247 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-size: xx-large;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button .learn:hover {
    background-color: rgb(112 59 247 / 61%);

}

.sircle-1 {
    width: 210px;
    height: 210px;
    background: rgb(53, 42, 247);
    background: linear-gradient(15deg, rgba(53, 42, 247, 0.9164040616246498) 0%, rgba(150, 145, 217, 0.9500175070028011) 100%, rgba(0, 212, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
    top: 130px;
    right: 90px;
}

.sircle-2 {
    width: 110px;
    height: 110px;
    background: rgb(53, 42, 247);
    background: linear-gradient(15deg, rgba(53, 42, 247, 0.9164040616246498) 0%, rgba(150, 145, 217, 0.9500175070028011) 100%, rgba(0, 212, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 200px;
}

.section-2 {
    background-color: rgb(26 26 26);
    height: 100vh;
    width: 100vw;

}

.section-2 .intity {
    width: 3px;
    height: 120px;
    background-color: white;
    position: relative;
    left: 50%;
    top: -60px;
}

.section-2 .explore {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.section-2 .explore .info-ex {
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 35px;
    color: gray !important;
}

.left-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.example-image {
    width: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.example-image .example .power {
    color: white !important;
    margin-bottom: 20px;
}

.example-image .example .ful {
    color: gray;
    line-height: 25px;
    margin-bottom: 30px;
}

.example-image .example-1 {
    background-color: rgb(26 26 26);
    outline: 5px solid rgb(51 51 51);
    font-size: 18px;
    width: 650px;
    margin-top: 30px;
    padding: 20px 25px;
}

.example-image .example-1 .power {
    color: white;
    margin-bottom: 20px;
}

.example-image .example-1 .ful {
    color: gray;
    line-height: 25px;
}

.example-image .example-1:hover {
    outline: 5px solid rgb(112 59 247);
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity));
}

.right img {
    width: 550px;
}

.how-works {
    text-align: center;
    margin-top: 170px;
    margin-bottom: 380px;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.how {
    color: white;
    text-align: center;
    font-size: 21px;
}

.section-4 .how-works .info-ex {
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 35px;
    color: gray !important;
}

.category {
    background-color: rgb(26 26 26);
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-1 {
    background-color: rgb(26 26 26);
    width: 450px;
    height: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
    position: relative;
    top: -150px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 9px 15px 5px rgba(0, 0, 0, 0.73);
    box-shadow: 3px 9px 15px 5px rgba(0, 0, 0, 0.73);
    margin-bottom: 50px;
}

.category-1 i {
    font-size: 50px;
    margin-top: 35px;
    margin-right: 10px;
}

.category-1 .cir {
    width: 70px;
    height: 70px;
    background-color: rgb(112 59 247);
    border-radius: 50%;
}

.category-1 .title-1 {
    font-size: xx-large;
    font-weight: 800;
    color: white;
}

.category-1 .title-2 {
    font-size: 19px;
    font-weight: 300;
    color: gray;
}

.title {
    color: #703bf7;
    font-weight: 600;
}

.section-4 {
    height: 900px;
}

.section-4 .intity-2 {
    width: 3px;
    height: 100px;
    background-color: white;
    position: relative;
    left: 50%;
    top: -40px;
}

.over {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: white;
    margin-bottom: 50px;
}

.over .title-oover {
    color: gray;
    margin-top: 20px;
}

.section-4 .logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}

.ceo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.ceo .team {
    text-align: center;
    outline: 2px solid rgb(112 59 247);
    width: 950px;
    height: 310px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    border-radius: 10px;
    background-color: rgb(26 26 26);
}

.ceo .team .intitty {
    font-size: 60px;
    font-weight: 900;
    position: relative;
    top: -80px;
    left: 30px;
    color: rgb(23 145 233);
}

.ceo .team .imo {
    position: relative;
    top: 50px;
    left: 15px;
}

.ceo .team .name {
    color: white;
    margin: 20px;
}

.ceo .team a {
    text-decoration: none;
    color: rgb(23 145 233);
}

.email {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
}

.email .sub {
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: gray;
    border-radius: 10px;
    background-color: rgb(26 26 26);
    background-image: url(../../../assets/image/sir.png);
    background-size: 380px;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 70px 70px;
    height: 250px;
}

.email .sub .bus {
    margin-top: 25px;
    margin-bottom: 20px;
}

.email .sub input {
    width: 350px;
    height: 50px;
    background-color: rgb(26 26 26);
    border: 0px solid rgb(51 51 51);
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 15px;
}

.email .sub button {
    --tw-bg-opacity: 1;
    background-color: rgb(112 59 247 / var(--tw-bg-opacity));
    color: white;
    font-size: x-large;
    padding: 9px 35px;
    margin-left: 10px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.email .sub input:hover {
    border: 2px solid rgb(51 51 51);
}

.email .sub button:hover {
    background-color: rgb(112 59 247 / 61%);
}